body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

 
.title{
    color: indianred;
}

.navbar-inner {
  text-align:center;
}
       
.navbar{
    width: 100%;
    margin: 0 auto;
}

/* navbar */
.navbar-default {
    background-color: #E52529;
    border-color: white;
    
}

.navbar-text, .footer-text {
    color: white; 

}

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-family:Arial, Helvetica, sans-serif;

}

.nav.navbar-nav.navbar-left li a {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

ul
{
    list-style-type: none;
    padding:0; margin:0;
}

.fake-link {
    font-weight:bold;
    cursor: pointer;
}

.deleted {
    display:none;
}

.unsaved{
    color:#FFCCCC;
}

.past {
    background-color:lightgray;
}

.sent{
    font:bold;
    color:#4cff00;
}

.saved{
    font:bold;
    color:#ffd800;
}


.success{
    background-color:lightgreen;
}

.error{
    background-color:palevioletred;
}



#map-canvas {
        height: 300px;
        width: 100%;
        margin: 0px;
        padding: 0px
}

#title{
    color:white;
    position:absolute;
    text-align:center;
    margin:auto;
    width:100%;
    z-index:-1;
    display:inline-block;
    font-size:20px;
    top:10px;

}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


.footer{
    position:absolute;
    bottom:0;
    width:100%;
    height: 60px;
    background-color: #E52529;
    color:white;
}


form.login
{
    width: 250px;
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #E52529;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #E52529;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login .remember-forgot
{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
form.login .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login label, form.login a
{
    font-size: 12px;
    font-weight: 400;
    color: #E52529;
}

form.login a
{
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #2ecc71;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#notes, #catering-notes, #location, #studio{
    width:100%;
    
}



.button{
    width:150px;
    display:block;
    -moz-appearance:button;
    -webkit-appearance:button;
    cursor:pointer;
}

.hideButton{
    display:none;
}

#dvLoading{
   background:#000 url(/static/images/contents/loader.gif) no-repeat center center;
   height: 100px;
   width: 100px;
   position: fixed;
   z-index: 1000;
   left: 50%;
   top: 50%;
   margin: -25px 0 0 -25px;
   display:none;
}
