body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

 
.title{
    color: indianred;
}

.navbar-inner {
  text-align:center;
}
       
.navbar{
    width: 100%;
    margin: 0 auto;
}

/* navbar */
.navbar-default {
    background-color: #E52529;
    border-color: white;
    
}

.navbar-text {
    color: white; 

}

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-family:Arial, Helvetica, sans-serif;

}

.nav.navbar-nav.navbar-left li a {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

ul
{
    list-style-type: none;
    padding:0; margin:0;
}

.fake-link {
    font-weight:bold;
    cursor: pointer;
}

.deleted {
    display:none;
}

.unsaved{
    color:#FFCCCC;
}

.past {
    background-color:lightgray;
}

.success{
    background-color:lightgreen;
}

#map-canvas {
        height: 300px;
        width: 100%;
        margin: 0px;
        padding: 0px
}