{% extends "layout.html" %}

{% block content %}

<h2 class="title"><span id="result">{{title}}</span></h2>


{% if id %}
    <form action="{{url_for('viewShoot', shoot_id=id)}}" method="post">
    
{% else %}
        <form action="{{url_for('newShoot')}}" method="post">
            {% endif %}
            <p><input type="Submit" value="Save All"></p>
            {{ form.hidden_tag() }}
            {% for field in form%}


            {% if field.name != "talent"%}
            <div class="{{field.name}}">
                    {% if field.widget.input_type != 'hidden' %} {{ field.label }} {% endif %}
                    {{ field(class=field.name) }}
            </div>
            {% endif %}
            {% endfor %}
            
            <h3 class="title"><span id="result">Talent</span></h3>
            <ul id="talentList">
                {% for talent_form in form.talent %}

                <li>
                    {{talent_form.label}}
                    {% for subfield in talent_form%}
                    <div>
                    {% if subfield.widget.input_type != 'hidden' %} {{ subfield.label }} {% endif %}
                    {{subfield}}</div>

                    
                    {% endfor %}
                </li>

                {% endfor %}
            </ul>           
            <button type="button" id="addTalent">New Talent</button>



</form>
<script type="text/javascript" language="javascript" src="/static/scripts/newItem.js"></script>
{% endblock %}
