{% extends "layout.html" %}

{% block content %}


{% if id %}
    <form action="{{url_for('viewShoot', shoot_id=id)}}" method="post">
{% else %}
     <form action="{{url_for('newShoot')}}" method="post">
{% endif %}

    {% for field in form%}
    {{field.label}}
    {{field(class=field.name)}}
    {% endfor %}
    <p><input type="Submit" value="Save"></p>
  
</form>
        <button id="addTalent">New Talent</button>
<script type="text/javascript" language="javascript" src="/static/scripts/newItem.js"></script>
{% endblock %}
