{% extends "layout2.html" %}

{% block content %}

<h2 class="title"><span id="result">&nbsp</span></h2>


{% if id %}
    <form id="edit-form" action="{{url_for('viewShoot', shoot_id=id)}}" method="post">
    
{% else %}
        <form id="edit-form" action="{{url_for('newShoot')}}" method="post">
            {% endif %}
           
            {{ form.hidden_tag() }}
            {{form.csrf_token}}
            <div class="row">
                <div class="{{form.name.name}} col-md-5">
                    <label>Shoot Name</label>
                    <div>{{form.name}}</div>
                </div>
                <div class="{{form.client.name}} col-md-5">
                    <label>Client</label>
                    <div>{{form.client}}</div>
                </div>
            </div>
            <div class="row">
                <div class="dateAndTime col-md-5">
                    <label>Date and Time</label>
                    <div>
                        {{form.date}}
                        {{form.start_time}}
                        {{form.wrap_time}}
                    </div>
                </div>
                <div class="imageDrop col-md-5">
                    <label>Drop an Image</label>
                    <div><img class="media-object" src="..." alt="..."></div>
                </div>
            </div>
            <div class="row">
                <div class="contact col-md-5">
                    <label>General Contact</label>
                    <div>
                        {{form.contact_name}}
                        {{form.contact_email}}
                        {{form.contact_phone}}
                    </div>
                </div>
                <div class="location col-md-5">
                    <label>Location</label>
                    <div>
                        {{form.location}}
                        {{form.studio}}
                    </div>
                </div>
            </div>
            
            <div>&nbsp</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Talent</h3>
                </div>
                <div class="panel-body">
                    <ul id="talentList">
                        {% for talent_form in form.talent %}
                        <li class="well">
                            <div class="row">
                                {% for subfield in talent_form%}
                                    {% if subfield.label.text!="name" %}
                                    {% if subfield.label.text!="start_time" %}
                                        </div>
                                        <div class="row">
                                    {% endif %} 
                                    {% endif %}
                                    {% if subfield.widget.input_type != 'hidden' %}
                                            <div class="{{subfield.label.text}} col-md-4">
                                                {{ subfield.label }}
                                                {{subfield}}
                                            </div>
                                    {% else %}
                                            <div>
                                                {{subfield}}
                                             </div>    
                                    {% endif %}   
                                {% endfor %}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <span class="fake-link" id="addTalent"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Talent</span>
                     
                    </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-barcode aria-hidden="true"></span> Photography</h3>
                </div>
                <div class="panel-body">
                    {% for subfield in form.photo%}
                    <div>
                        {% if subfield.widget.input_type != 'hidden' %} {{ subfield.label }} {% endif %}
                        {{subfield}}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-bullhorn aria-hidden=" true"></span> Art</h3>
                </div>
                <div class="panel-body">
                   
                    {% for subfield in form.art%}
                    <div>
                        {% if subfield.widget.input_type != 'hidden' %} {{ subfield.label }} {% endif %}
                        {{subfield}}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-eye-open aria-hidden=" true"></span> Make-Up</h3>
                </div>
                <div class="panel-body">
                    
                    {% for subfield in form.makeup%}
                    <div>
                        {% if subfield.widget.input_type != 'hidden' %} {{ subfield.label }} {% endif %}
                        {{subfield}}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-check aria-hidden=" true"></span> Hair</h3>
                </div>
                <div class="panel-body">
                    
                    {% for subfield in form.hair%}
                    <div>
                        {% if subfield.widget.input_type != 'hidden' %} {{ subfield.label }} {% endif %}
                        {{subfield}}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-certificate aria-hidden=" true"></span> Wardrobe</h3>
                </div>
                <div class="panel-body">
                    {% for subfield in form.wardrobe%}
                    <div>
                        {% if subfield.widget.input_type != 'hidden' %} {{ subfield.label }} {% endif %}
                        {{subfield}}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-cutlery aria-hidden=" true"></span> Catering</h3>
                </div>
                <div class="panel-body">
                    {% for subfield in form.catering%}
                    <div>
                        {% if subfield.widget.input_type != 'hidden' %} {{ subfield.label }} {% endif %}
                        {{subfield}}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </form>
<script type="text/javascript" language="javascript" src="/static/scripts/newItem.js"></script>
{% endblock %}
