<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />

    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script type="text/javascript" language="javascript" src="/static/scripts/jquery-1.10.2.min.js"></script>
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-inner">

            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">MyCallTime</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('myAccount') }}"><span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size:25px"></span><br /><span style="font-size:10px">profile</span></a></li>
                        <li><a href="{{ url_for('home') }}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size:25px"></span><br /><span style="font-size:10px">sheets</span></a></li>
                        <!--<li><a href="{{ url_for('home') }}"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true" style="font-size:25px"></span><br /><span style="font-size:10px">studios</span></a></li>-->
                        <li><a href="{{ url_for('signout') }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true" style="font-size:25px;"></span><br /><span style="font-size:10px">sign out</span></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
       
    </div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {% block scripts %}{% endblock %}

</body>
</html>
