{% extends "layout.html" %}

{% block content %}

<h2 class="title">New Shoot</h2>

<div class="col-lg-10">
    <div class="input-group">
        <label>Shoot Name</label>
        <input type="text" class="form-control"> 
    </div>
    <div class="input-group">
        <label>Client</label>
        <input type="text" class="form-control">
    </div>
    <div class="input-group">
        <label>Contact</label>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Name</span>
        <input type="text" class="form-control">
    </div>
    <div class="input-group">
        <label></label>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Email</span>
        <input type="text" class="form-control" >
    </div>
    <div class="input-group">
        <label></label>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Mobile</span>
        <input type="text" class="form-control" placeholder="555-555-5555">
    </div>
    <div class="input-group">
        <label>Date and Time</label>
        <input type="date" class="form-control" >
        
    </div>
    <div class="input-group">
        <label></label>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Start</span>
        <input type="time" class="form-control">

    </div>
    <div class="input-group">
        <label></label>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Wrap</span>
        <input type="time" class="form-control">

    </div>
    <div class="input-group">
        <label>Location</label>
        <input type="text" class="form-control">

    </div>
    <div class="input-group">
        <label>Studio Number</label>
        <input type="tel" class="form-control">

    </div>
    <div class="input-group">
        <label>Talent</label>
        <input type="text" class="form-control">
    </div>
    <div class="input-group">
        <label></label>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        Photography
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <label>Photographer</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="input-group">
                                <label>Agent</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="input-group">
                                <label>Digital Tech</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="input-group">
                                <label>1st Assist.</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="input-group">
                                <label>Assist</label>
                                <input type="text" class="form-control">
                            </div>
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapseOne">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        Production
                    </a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <label>Company</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="input-group">
                                <label>Producer</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="input-group">
                                <label>Assist.</label>
                                <input type="text" class="form-control">
                            </div>
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapseOne">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        Wardrobe
                    </a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <label>Wardrobe Stylist</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="input-group">
                                <label>1st Assist.</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="input-group">
                                <label>Assist</label>
                                <input type="text" class="form-control">
                            </div> 

                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapseOne">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        Hair
                    </a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <label>Hair Stylist</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="input-group">
                                <label>1st Assist.</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="input-group">
                                <label>Assist</label>
                                <input type="text" class="form-control">
                            </div> 
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapseOne">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        Make-Up
                    </a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <label>Make-up Artist</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="input-group">
                                <label>1st Assist.</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="input-group">
                                <label>Assist</label>
                                <input type="text" class="form-control">
                            </div> 
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapseOne">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        Art Department
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <label>Set Designer</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="input-group">
                                <label>1st Assist.</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="input-group">
                                <label>Assist</label>
                                <input type="text" class="form-control">
                            </div> 
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading2">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        Catering
                    </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <label>Company</label>
                                <input type="text" class="form-control">
                            </div> 
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>
    <div class="input-group">
        <label></label>
    </div>
    <div class="input-group">
        <label></label>
    </div>
    <div class="input-group">
        <label></label>
    </div>
</div>
        {% endblock %}
