{% extends "layout.html" %}

{% block content %}

<h2 class="title">{{ title }}</h2>

<div class="col-lg-10">
    <div class="input-group">
        <label>Shoot Name</label>
        <input type="text" class="form-control"> 
    </div>
    <div class="input-group">
        <label>Client</label>
        <input type="text" class="form-control">
    </div>
    <div class="input-group">
        <label>Contact</label>
    </div>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="name">
    </div>
  
    <div class="input-group">
        <input type="text" class="form-control" placeholder="email">
    </div>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="555-555-5555">
    </div>
    <div class="input-group">
        <label>Date and Time</label>
        <input type="date" class="form-control" >
        
    </div>
    <div class="input-group">
        <label></label>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Start</span>
        <input type="time" class="form-control">

    </div>
    <div class="input-group">
        <label></label>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Wrap</span>
        <input type="time" class="form-control">

    </div>
    <div class="input-group">
        <label>Location</label>
        <input type="text" class="form-control">

    </div>
    <div class="input-group">
        <label>Studio Number(s)</label>
        <input type="tel" class="form-control">

    </div>
    
    <div class="input-group">
        <label></label>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading0">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTalent" aria-expanded="false" aria-controls="collapseOne">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        Talent
                    </a>
                </h4>
            </div>
            <div id="collapseTalent" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">

                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>

      


   

   
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapsePhoto" aria-expanded="false" aria-controls="collapseOne">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        Photography
                    </a>
                </h4>
            </div>
            <div id="collapsePhoto" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">

                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseProduction" aria-expanded="false" aria-controls="collapseOne">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        Production
                    </a>
                </h4>
            </div>
            <div id="collapseProduction" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">

                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseWardrobe" aria-expanded="false" aria-controls="collapseOne">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        Wardrobe
                    </a>
                </h4>
            </div>
            <div id="collapseWardrobe" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">


                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseHair" aria-expanded="false" aria-controls="collapseOne">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        Hair
                    </a>
                </h4>
            </div>
            <div id="collapseHair" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
 
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseMakeup" aria-expanded="false" aria-controls="collapseOne">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        Make-Up
                    </a>
                </h4>
            </div>
            <div id="collapseMakeup" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">

                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseArt" aria-expanded="false" aria-controls="collapseOne">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        Art Department
                    </a>
                </h4>
            </div>
            <div id="collapseArt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading2">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseCatering" aria-expanded="false" aria-controls="collapse2">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        Catering
                    </a>
                </h4>
            </div>
            <div id="collapseCatering" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                           
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>
    <div class="input-group">
        <label></label>
    </div>
    <div class="input-group">
        <label></label>
    </div>
    <div class="input-group">
        <label></label>
    </div>
</div>
    <script type="text/javascript" language="javascript" src="/static/scripts/loadSheet.js"></script>
        {% endblock %}
